<input type="checkbox" id="check">
<label for="check">
    <i class="fa fa-bars" id="button"></i>
    <i class = "fa fa-times" id = "cancel"></i>
</label>
<div class="sidebar">
    <header>Menu</header>
    <ul>
        <li><a><i class="fas fa-address-card"></i>About</a></li>
        <li><a><i class="fas fa-book"></i>Academics</a></li>
        <li><a><i class="fas fa-desktop"></i>Experience</a></li>
        <li><a><i class="fas fa-heart"></i>Interests</a></li>
        <li><a><i class="fa fa-envelope"></i>Contact</a></li>
    </ul>
</div>
<section></section>
